body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
}

header h3 {
    font-size: 24px;
}

header p {
    font-size: 18px;
    color: #E5E7EB;
}

.section-three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {
    display: flex;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-and-button button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    border-style: none;
}
